@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li{
    float: left;
}

.txtbgcolor{
    
    border: 3px solid;
    border-color: #433416;
    
    
}

input::placeholder {
    font-weight: bold;
    opacity: .4;
    color: #433416;
}

.responsive {
    width: 25%;
    height: auto;
  }

.login {
    width: 10%;
    height: auto;
  }

.logosachi2{
  position: absolute;
  width: 50%;
  height: 100%;
}
  
  .logosachi{
  position: relative;
  }

.pd{
  padding-right: 5px;
}


