@tailwind base;
@tailwind components;
@tailwind utilities;


.background{
  background-color: #F6EBDA;
  height: 932px;
}
.Logo{
  position: absolute;
  width: 119px;
  height: 67px;
  left: 30px;
  top: 8px;
}
.navbar{
  position: relative;
}
.navbar ul{
  padding-top: 20px;
  list-style-type: none;
  text-align: center;
}

.navbar li{
  float: left;
  font-weight: 500;
  font-size: 20;
  display: inline-block;
  padding-left: 25px;
}

.navbar li:hover{
  color: #FF902A;
  font-weight: bold;
}
.navbar a{
  display: block;
  padding: 8px;
  text-align: center;
}
.kopibg{
  width: 369px;
  height: 352px;
  position: absolute;
  margin-top: 100px;
  margin-left: 827px;
}
.kopi{
  position: relative;
  margin-left: 850px;
  top: 100px;
}
.bijikopi1{
  position: absolute;
  margin-left: 950px;
}
.bijikopi2{
  position: absolute;
  margin-top: 425px;
  right: 875px;
}
.tagline{
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  margin-left: 85px;
  top: 175px;
  color: #332C2B;
}
.desc{
  font-size: 20;
  font-weight: 600;
  color: #878581;
  margin-left: 85px;
  margin-top: 15px;
}
.popular{
position: absolute;
font-weight: bold;
font-size: 35px;
line-height: 46px;
margin-left: 75px;
margin-top: 50px;
color: #FF902A;
}
.now{
font-weight: bold;
font-size: 35px;
line-height: 46px;
margin-left: 210px;
margin-top: 70px;
}
.promobox{
  position: absolute;
  width: 1180px;
  height: 335px;
  border-radius: 54px;
  background: #F8D8A9;
}
.menu{
  justify-content: space-between;
  display: flex;
  padding-right: 450px;
  margin-left: 115px;
  margin-top: 75px;
}
.menu ul{
  list-style-type: none;
}
.menu li{
  display: inline-block;
}
.menu div{
  position: absolute; 
  width: 322px;
  height: 329px;
  background: #FFFFFF;
  box-shadow: 0px 15px 25px #646464;
  border-radius: 25px;
}
.menu :hover{
  animation-name: floating;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, -15px); }
  100%   { transform: translate(0, -0px); }   
}

.lemontea{
  margin-left: 27px;
  margin-top: 17px;
}
.vanilla{
  margin-left: 27px;
  margin-top: 17px;
}
.hazelnut{
  margin-left: 27px;
  margin-top: 17px;
}