

.background{
  background-color: #F6EBDA;
  height: auto;
}
.Logo{
  position: absolute;
  width: 119px;
  height: 67px;
  left: 30px;
  top: 8px;
}
.navbar{
  position: relative;
}
.navbar ul{
  padding-top: 20px;
  list-style-type: none;
  text-align: center;
}

.navbar li{
  float: left;
  font-weight: 500;
  font-size: 20;
  display: inline-block;
  padding-left: 25px;
}

.navbar li:hover{
  color: #FF902A;
  font-weight: bold;
}
.navbar a{
  display: block;
  padding: 8px;
  text-align: center;
}
.kopibg{
  width: 369px;
  height: 352px;
  position: absolute;
  margin-top: 10%;
  margin-left: 70%;
}
.kopi{
  position: relative;
  margin-left: 71%;
  top: 130px;
}
.bijikopi1{
  position: absolute;
  margin-left: 950px;
}
.bijikopi2{
  position: absolute;
  margin-top: 425px;
  right: 875px;
}
.tagline{
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  margin-left: 85px;
  top: 175px;
  color: #332C2B;
}
.desc{
  font-size: 20;
  font-weight: 600;
  color: #878581;
  margin-left: 85px;
  margin-top: 5%;
}
.popular{
position: absolute;
font-weight: bold;
font-size: 35px;
line-height: 46px;
margin-left: 75px;
margin-top: 24.5%;
color: #FF902A;
}
.now{
font-weight: bold;
font-size: 35px;
line-height: 46px;
margin-left: 210px;
margin-top: 26%;
}
.promobox{
  position: absolute;
  width: 92%;
  height: 335px;
  border-radius: 54px;
  background: #F8D8A9;
}
.menu{
  display:grid;
  padding-right: 30%;
  margin-left: 5%;
  margin-top: 5%;
  gap: 7%;
  grid-template-columns: repeat(3, 1fr);
}
.menu ul{
  list-style-type: none;
}
.menu li{
  margin-left: 5%;
  display: inline-flex;
}
.menubox{
  position: relative; 
  width: 334px;
  height: 346px;
  background: #FFFFFF;
  box-shadow: 0px 15px 25px #646464;
  border-radius: 25px;
  padding-top: 3%;
}

.menuboxz{
  position: absolute; 
  box-shadow: 0px 15px 25px #646464;
  border-radius: 25px;
}
.menu div:hover{
  animation-name: floating;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, -15px); }
  100%   { transform: translate(0, -0px); }   
}

.menu img{
  position: relative;
  margin-left: 6%;
  margin-top: 0px;
  border-color: #9C9C9C;
  border-width: 0px;
  border-radius: 25px;
}
.deco{
  border-radius: 35px;
  border-color: #2F2105;
  width: 255px;
  height: 54px;
  background: #D9D9D9;
}
.deco p{
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  color: #2F2105;
}
.productname{
  font-size: 24px;
  color: #2F2105;
  font-weight: 600;
  margin-left: 10%;
  margin-left: 25px;
  
}
.harganame{
  font-size: 23px;
  color: #2F2105;
  margin-left: 125px;
}
.price{
  position: absolute;
  font-size: 30px;
  color: #2F2105;
  font-weight: bold;
  right: 10%;
}
.productdesc{
  margin-top: 5%;
  font-size: 15px;
  color: #878581;
  font-weight: 600;
  margin-left: 7%;
}
.about{
  margin-top: 30%;
  width: 100%;
  height: 352px;
  background-color: #FFCB7C;
}
.dropdowncontent{
  position: absolute;
  display: none;
  z-index: 1;

}
.MenuNav:hover
  .dropdowncontent{
    display: block;
  }
.MenuNav .dropdowncontent a:hover{
  color: #2F2105;
}
.aboutimg{
  position: absolute;
  margin-left: 75px;
  margin-top: 25%;
}  
.abouttext1{
  font-size: 36px;
  font-weight: bold;
  margin-left: 450px;
  color: #2F2105;
  text-decoration: underline #FF902A 5px;
}
.abouttext2{
  font-weight: 600;
font-size: 24px;
line-height: 31px;
letter-spacing: 0.1em;
color: #2F2105;
margin-left: 450px;
margin-top: 25px;
}
.gatau{
  width: 90%;
  margin-left: 5%;
  margin-top: 150px;
}
.menubutton{
  position: absolute;
  margin-left: 450px;
  margin-top: 75px;
}
.specialmenutitle{
  margin-left:9%;
  font-size: 36px;
  font-weight: bold;
}
.reviewbox{
  margin-top: 35%;
  width: 100%;
  height: 385px;
  /* border-radius: 25px; */
  background: #FFCB7C;
}
.reviewbox li{
  display: inline-block;
  margin-left: 5%;
}
.reviewbox img{
  position: relative;
  margin-left: 150%;
}
.review{
  position: absolute;
  width: 240px;
  height: 99px;
  background: #F6EBDA;
  border-radius: 7px;
  margin-left: 29%;
  margin-bottom: 50%;
}
.aboutsection{
  width: 100%;
  height: 540px;
  background-color: #F8D8A9;
  margin-top: 10%;
}
.AboutLogo{
  position: absolute;
  width: 151px;
  margin-left: 10%;
  margin-top: 5%;
}
.aboutdesc{
  position: absolute;
  margin-top: 13%;
  margin-left: 10%;
  width: 20%;
  font-size: 16px;
  font-weight: 600;
  color: #2F2105;
}
.location{
  position: absolute;
  margin-top: 20%;
  margin-left: 10%;
}
.address{
  font-size: 16px;
  font-weight: 600;
  color: #2F2105;
}
.aboutlist1{
  margin-left: 35%;
  margin-top: 15%;
}
.aboutlist1 li{
  display: inline-block;
  list-style-type: none;
  margin-left: 15%;
}